{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
    .container {
        width: 100vw;
        height: 42vw;
        display: flex;
        justify-content: center;
    }
    .box {
    margin: 30px;
    padding: 30px 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.image-size {
	    display: flex;
        justify-content: center;
        align-items: center;
        height: 380px;
        width: 400px;
	}
</style>
<div class="container">
    <div class="box">
<p>Do you want to delete <b>"{{ product }}"?</b></p>
        <div class="image-size">
        <img src="/media/{{ product.picture }}" width="75%" height="100%">
            </div>
        <br> <br>
        <hr>

<form action="{% url 'delete_product' product.id %}" method="POST">
    {% csrf_token %}
    <a class="btn btn-sm btn-danger" href="{% url 'site_admin' %}">Cancel</a>
    <input class="btn btn-sm btn-info" type="submit" name="Confirm">
</form>
        </div>
    </div>

{% endblock content %}

