{% extends 'myapp/main_page.html' %}
{% load static %}
{% block content %}
    <div class="form-add">
        <h1 class="text-center my-5">Edit product <br> <i>{{ product.name }}</i></h1>
        <form class="mx-auto w-50" style="width: 50%" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label style="text-align: center">Title</label>
            {{ form.name }}
            <br><br>
            <label>Category</label>
            {{ form.category }}
            <br><br>
            <label>Description</label>
            <br>
            {{ form.description }}
            <br><br>
            <label>Price</label>
            {{ form.price }}
            <br><br>
            <label>Current picture</label>
            <br>
            {% if product.picture %}
                <img src="{{ product.picture.url }}" alt="Current Image" style="max-width: 200px; max-height: 200px;">
                <br><br>
            {% endif %}
            {{ form.picture }}
            <br><br>
            <button type="submit" class="btn btn-outline-success">Save Changes</button>
        </form>
    </div>

{% endblock content %}