{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        body {
            background-image: url("https://simg.marwin.kz/media/logo/stores/3/mar_main.png");
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
    <div class="row mt-4">
        <form method="POST" class="d-flex justify-content-center" style="opacity: 95%">
            {% csrf_token %}
            <div class="col-md-4">
                <div class="card card-body" style="box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);">
                    {{ form.username|as_crispy_field }}
                    <hr>
                    <div class="icon d-flex justify-content-center">
                        <img src="{% static 'images/icon_user.jpg' %}" width="350px" alt="User Icon">
                    </div>
                    <hr>
                    <a class="btn btn-primary btn-lg btn-danger" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body d-grid gap-2 d-md-block" style="box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);">
                    {{ form.first_name|as_crispy_field }}
                    <hr>
                    {{ form.last_name|as_crispy_field }}
                    <hr>
                    {{ form.email|as_crispy_field }}
                    <hr>
                    <div class="d-flex">
                        <button type="submit" class="btn btn-success mr-5">Save Changes</button>
                        <a class="btn btn-danger" href="{% url 'profile' %}">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
