body {
    font-family: "SF Pro Text", sans-serif;
    overflow-x: hidden;
}

.navbar {
    height: 5vw;
    font-size: 25px;
}

.navbar-brand {
    font-size: 25px;
}

.navbar-brand > img {
    height: 60px;
}

nav > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1vw;
}

nav > div > a {
    color: rgba(245, 15, 100);
    text-decoration: none;
}

nav > div > input {
    padding: 0.8vw 1vw;
    width: 25vw;
    border: none;
    border-radius: 0.7vw;
    background-color: rgb(231, 231, 231);
}

nav > div > select {
    padding: 0.8vw;
    width: 10vw;
    border: none;
    border-radius: 0.7vw;
    background-color: rgb(231, 231, 231);
}

nav > div > button {
    padding: 0.8vw;
    border: none;
    border-radius: 0.7vw;
}

.product-list {
    width: 100vw;
    height: 40vw;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    padding: 0 1vw;
}

.col-md-9 li {
    transition-duration: .5s;
}

.col-md-9 li:hover {
    transform: scale(1.1);
    transition-duration: .5s;
}

li:hover {
    color: rgba(245, 15, 100);
}

#total-orders {
    background-color: #4cb4c7;
}

#total-products {
    background-color: #4cb4c7;
}

#admin-now {
    background-color: #4cb4c7;
}

#first-block {
    background-color: #4cb4c7;
}

#second-block {
    background-color: #4cb4c7;
}

#third-block {
    background-color: #4cb4c7;
}

#fourth-block {
    background-color: #4cb4c7;
}

#five-block {
    background-color: #4cb4c7;
}

.title_reviews_product_block {
    padding: 50px 20px 0 20px;
}

.title_reviews_product_block h1 {
    font-size: 20px;
}

.reviews_product_main_block {
    display: flex;
    padding: 0 20px 50px 20px;
}

.reviews_list_product_main_info {
    width: 50%;
}

.review_product_block {
    margin-top: 30px;
}

.author_review_product_block {
    font-size: 18px;
    font-weight: 700;
}

.rating_review_product_block {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.created_date_review_product_block {
    color: #5c5c5c;
}

.main_text_review_product_block {
    border-radius: 5px;
    background-color: #f5f5f7;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    padding: 20px;
}

.reviews_list_product_additional_service {
    width: calc(50% - 200px);
    margin: -30px 0 0 100px;
}

.new_review_product_block {
    display: none;
}

.write_review_product_block {
    display: inline-flex;
    cursor: pointer;
    font-size: 18px;
    color: #FFF;
    background-color: #0089b2;
    padding: 10px 50px;
    border-radius: 6px;
}

.main_info_core_rating_block {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.main_rating_main_info_core_rating h1 {
    margin: 0 0 0 10px;
    padding: 0;
    font-size: 2.0rem;
    color: #9ba2ac;
    font-weight: 600;
}

.title_new_review_product_block h1 {
    font-size: 24px;
    font-weight: 700;
    color: #0089b2;
}

.close_new_review_product_block {
    cursor: pointer;
    position: absolute;
    right: 115px;
}

.rating_new_review_product_block {
    display: flex;
    flex-direction: column;
}

.rating_new_review_product_block label p {
    font-size: 15px;
    margin: 20px 0 0 0;
}

.rating_new_review_product_block label select, textarea {
    margin-top: 5px;
    width: 100%;
}

.new_review_product_block button {
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
    color: #FFF;
    background-color: #0089b2;
    border: none;
    padding: 7px 50px;
    border-radius: 6px;
}

footer a {
    color: inherit;
}